.messageContainer {
    margin-top: 5px;
}
.message {
    position: relative;
    display: inline-block;
}

.message:hover:after {
    position: absolute;
    content: "123";
    background-color: black;
    left: 50%;
    transform: translate(-50%);
    animation: hover-fade 0.15s linear 0s;
}
@keyframes hover-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
